@using Microsoft.AspNetCore.Identity
@using FPTBook.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
    {
        <li>
            <a class="nav-link text-dark" asp-controller="Books" >Hello Admin!</a>
        </li>
    }
    else
    {
        @if(User.Identity.IsAuthenticated && User.IsInRole("Staff"))
        {
            <li>
                <a class="nav-link text-dark" asp-controller="Books">Hello staff!</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello Customer!</a>
            </li>
        }
    }
    

    <li>
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-dark" style="font-size:20px">Logout</button>
        </form>
    </li>
}
else
{
    <li>
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}

