
@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section style="padding-top: 20px">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center mb-5">
                <h1 class="page-title">About us</h1>
            </div>
        </div>

        <div class="row mb-5">
            <div class="d-md-flex post-entry-2 half">
                <a href="#" class="me-4 thumbnail">
                    <img src="~/img/post-landscape-2.jpg" alt="" class="img-fluid">
                </a>
                <div class="ps-md-5 mt-4 mt-md-0">
                    <div class="post-meta mt-4">About us</div>
                    <h2 class="mb-4 display-4">Company History</h2>

                    <p>It is very important for the customer to pay attention to the adipiscing process. The easy, the most perspicuous, repulses the most, do you not obtain it, but therefore the things of life, the needs of the mind are not ready and provide for the inventor? Pleasures in their times are softened, guilt hates forgiveness, they are to be rejected at any time!</p>
                    <p>She also flees him with flattery, which is the training of the greater praisers, from which the pains, as if she were to receive them, rather than the labors of that or the doing of some pleasures, can be gained by any wise, blessed woman. The times are just the fault of those who accuse him when here any pain pleases to choose the offices.</p>
                </div>
            </div>

            <div class="d-md-flex post-entry-2 half mt-5">
                <a href="#" class="me-4 thumbnail order-2">
                    <img src="~/img/post-landscape-1.jpg" alt="" class="img-fluid">
                </a>
                <div class="pe-md-5 mt-4 mt-md-0">
                    <div class="post-meta mt-4">Mission &amp; Vision</div>
                    <h2 class="mb-4 display-4">Mission &amp; Vision</h2>

                    <p>It is very important for the customer to pay attention to the adipiscing process. The easy, the most perspicuous, repulses the most, do you not obtain it, but therefore the things of life, the needs of the mind are not ready and provide for the inventor? Pleasures in their times are softened, guilt hates forgiveness, they are to be rejected at any time!</p>
                    <p>She also flees him with flattery, which is the training of the greater praisers, from which the pains, as if she were to receive them, rather than the labors of that or the doing of some pleasures, can be gained by any wise, blessed woman. The times are just the fault of those who accuse him when here any pain pleases to choose the offices.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mb-5 bg-light py-5">
    <div class="container">
        <div class="row justify-content-between align-items-lg-center">
            <div class="col-lg-5 mb-4 mb-lg-0">
                <h2 class="display-4 mb-4">Latest News</h2>
                <p>It is very important for the customer to pay attention to the adipiscing process. The easy, the most perspicuous, repulses the most, do you not obtain it, but therefore the things of life, the needs of the mind are not ready and provide for the inventor? Pleasures in their times are softened, guilt hates forgiveness, they are to be rejected at any time!</p>
                <p>But with great pain, no hatred of the wise man himself, he never finds any other way than he flees from the corrupt error, this laborious pain, the guilt and pain of choosing, repels the righteous or hinders him when he hates him. Followers and troubles do not know the matter that he is spared by some of his elders often more than that, they leave the very laborious to get. An option, mind!</p>
                <p><a href="#" class="more">View All Blog Posts</a></p>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-6">
                        <img src="~/img/post-portrait-3.jpg" alt="" class="img-fluid mb-4">
                    </div>
                    <div class="col-6 mt-4">
                        <img src="~/img/post-portrait-4.jpg" alt="" class="img-fluid mb-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2 class="display-4">Our Team</h2>
                        <p>The company itself is a very successful company. Let them be nothing, but the distinction flees to his deserts, so that he may receive the pains of these praisers with the services and flattery of them. He was born with the pain of being rejected.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center mb-5">
                <img src="~/img/MinhDuc.jpg" alt="" class="img-fluid rounded-circle w-50 mb-4">
                <h4>Pham Bui Minh Duc</h4>
                <span class="d-block mb-3 text-uppercase">Founder &amp; CEO</span>
                <p>It is very important for the customer to pay attention to the adipiscing process. The easy, the most perspicuous, repulses the most, do you not obtain it, but therefore the things of life, the needs of the mind are not ready and provide for the inventor? Pleasures in their times are softened, guilt hates forgiveness, they are to be rejected at any time!</p>
            </div>
            <div class="col-lg-4 text-center mb-5">
                <img src="~/img/Duong.jpg" alt="" class="img-fluid rounded-circle w-50 mb-4">
                <h4>Tran Duy Duong</h4>
                <span class="d-block mb-3 text-uppercase">Founder &amp; VP</span>
                <p>It is very important for the customer to pay attention to the adipiscing process. The easy, the most perspicuous, repulses the most, do you not obtain it, but therefore the things of life, the needs of the mind are not ready and provide for the inventor? Pleasures in their times are softened, guilt hates forgiveness, they are to be rejected at any time!</p>
            </div>
            <div class="col-lg-4 text-center mb-5">
                <img src="~/img/ToanDuc.jpg" alt="" class="img-fluid rounded-circle w-50 mb-4">
                <h4>Vuong Toan Duc</h4>
                <span class="d-block mb-3 text-uppercase">Founder &amp; Editor Staff</span>
                <p>It is very important for the customer to pay attention to the adipiscing process. The easy, the most perspicuous, repulses the most, do you not obtain it, but therefore the things of life, the needs of the mind are not ready and provide for the inventor? Pleasures in their times are softened, guilt hates forgiveness, they are to be rejected at any time!</p>
            </div>            
        </div>
    </div>
</section>