@model FPTBook.Models.Book

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h1 style="padding-top: 15px">Details</h1>

<div class="main-section">
    <div class="container" >
        <div class="col-lg-12 border card main-section bg-white">
            <div class="row m-0" style="padding:15px 15px">
                <div class="col-lg-4 left-side-product-box pb-3">
                    <img id="myImg" src="~/images/@Model.Img1" class="border img-fluid" width="300" height="200">
                    <span class="sub-img">
                        <img src="~/images/@Model.Img2" class="border img-fluid" style="width: 150px; height; 150px; margin-right: 10px">
                        <img src="~/images/@Model.Img3" class="border img-fluid" style="width: 150px; height; 150px">
                    </span>
                </div>
                <div class="col-lg-8">
                    <div class="right-side-pro-detail border p-3 m-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <span>Book Name</span>
                                <p class="m-0 p-0">@Model.Title</p>
                            </div>
                            <div class="col-lg-12">
                                <p class="m-0 p-0 price-pro">$@Model.Price</p>
                                <hr class="p-0 m-0">
                            </div>
                            <div class="col-lg-12 pt-2">
                                <h5>Book Detail</h5>
                                <span>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris.
                                </span>
                                <hr class="m-0 pt-2 mt-2">
                            </div>
                            <div class="col-lg-12">
                                <p class="tag-section">
                                    <strong>Rate :</strong> <span class="text-danger fs-4"><i class="bi bi-star-fill"></i>@Model.Rate </span>
                                </p>
                            </div>
                            <div class="col-lg-12">
                                <h6>Quantity :</h6>
                                <input type="number" class="form-control text-center w-100" value="1">
                            </div>
                            <div class="col-lg-12 mt-3">
                                <div class="row">
                                    <div class="col-lg-6 pb-2">
                                        <a asp-action="Index" class="btn btn-danger w-100">Back to List</a>
                                    </div>
                                    <div class="col-lg-6">
                                        <a asp-controller="Home" asp-action="addCart" asp-route-id="@Model.BookId" class="btn btn-success w-100">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>         
        </div>
    </div>

</div>
